.sidebar {
  width: var(--sidebar-width);
  height: 100vh;
  background-color: #2B7FFF;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  transition: width var(--transition);
  z-index: 100;
  display: flex;
  flex-direction: column;
}

.sidebar.collapsed {
  width: var(--sidebar-width-collapsed);
}

.sidebar-header {
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: flex-end; /* Alinea el botón a la derecha */
}

.toggle-btn {
  background: transparent;
  border: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  cursor: pointer;
  transition: background-color 0.2s;
  border-left: 4px solid transparent;
  white-space: nowrap;
}

.sidebar.collapsed .menu li {
  justify-content: center;
}

.menu li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.menu li.active {
  background-color: rgba(0, 0, 0, 0.2);
  border-left-color: #fac801;
}

.menu li .iconify {
  font-size: 1.5rem;
  flex-shrink: 0; /* Evita que el ícono se encoja */
}

.menu li span {
  margin-left: 1rem;
  font-weight: 500;
}

.sidebar.collapsed .menu li span {
  display: none;
}